:root {
    color-scheme: light dark;
}

@font-face {
    font-family: 'virgil';
    src: url('virgil.woff2') format('woff2');
}

body {
    font-family: 'virgil', "Comic Neue", Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}